@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

:root {
  --dark_color: black;
  --dark_grayish: #191919;

  --text_white_color: white;

  --border_color_white: rgba(167, 167, 167, 0.414);
  --code_bg: #303030;

  --background_color_1: #1f1f1f;
  --background_color_2: #0c0c0e;
}

body {
  color: var(--text_white_color);
  background-color: var(--dark_color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  min-width: 70vw;
  max-width: 90vw;
}
.app > h1 {
  text-align: center;
  margin: 2rem 0;
}
.projectsList {
  display: flex;
}
.bordersDiv {
  border: 1px solid var(--border_color_white);
  width: 290px;
  height: 390px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin: 0;
  background-color: var(--dark_grayish);
  margin: 0 2rem;
}
.projectsList a {
  color: inherit;
  width: inherit;
  height: inherit;
  text-decoration: none;
}
.projectCard {
  width: auto;
  height: 100%;
  border-radius: 0.25rem;
  display: flex;
  cursor: pointer;
  align-items: flex-end;
  background-image: url(https://images.unsplash.com/photo-1682687220566-5599dbbebf11?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8);
  background-position: center;
  background-size: cover;
}

.projectDetails {
  padding: 0.85rem 1.25rem;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.624), black);
  width: 100%;
}

.codes {
  margin: 2rem 0;
}
.codebox {
  background-color: var(--code_bg);
  min-width: 50vw;
}

.codeHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--code_bg);
  border-bottom: 2px solid rgb(79, 79, 79);
  margin: 0;
  padding: 0.85rem 1rem;
}

.codeHeader button {
  background-color: none;
  border: 1px solid var(--border_color_white);
  padding: 0.5rem 1.25rem;
  background: transparent;
  color: white;
  cursor: pointer;
}

.codes pre {
  width: 100%;
  white-space: none;
  height: 300px;
  overflow-y: scroll;
  position: relative;
  tab-size: 4;
}

.codes pre::-webkit-scrollbar {
  width: 5px;
  background-color: var(--code_bg);
  border-radius: 1rem;
}

.codes pre::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
}
