* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  position: relative;
  overflow: hidden;
    transition: all 0.5s ease;
    color: white;
    font-weight: bold;

}


.playerControls {
  position: absolute;
  left: 0;
  bottom: -20px;
  transition: all 0.35s ease;
  
}
.player:hover .playerControls
{
    bottom: 10px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
    color: white;
    font-weight: bold;
}

input[type="range"] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: #ffd500;
  cursor: pointer;
}


input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  /* cursor: ew-resize; */
  cursor: pointer;
  background: #434343;
  box-shadow: -80px 0 0 80px #43e5f7;
}
.playerInput {
  width: 100%;
}
