* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.95rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background: radial-gradient(
    var(--background_color_1),
    var(--background_color_2)
  );
}

.player {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  width: 400px;
}

.playerVideo {
  width: 100%;
}
.playerControls {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(75%);
  transition: all 0.45s ease;
  padding: 0.5rem 0;
}

.player:hover .playerControls {
  transform: translateY(-0%);
}

.progress {
  width: 100%;
  background-color: white;
  height: 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}

.progressFilled {
  /* min-width: 100px; */
  background-color: yellow;
  height: inherit;
  display: flex;
  /* position: absolute; */
  flex-basis: 20%;
}
.playerAdjustments {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text_white_color);
  font-weight: bold;
}

.player input[type="range"] {
  overflow: hidden;
  height: 8px;
  -webkit-appearance: none;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0 0.25rem;
  border-radius: 0.5rem;
  position: relative;
}

.player input[type="range"]::-webkit-slider-thumb {
  width: 8px;
  -webkit-appearance: none;
  height: 8px;
  /* cursor: ew-resize; */
  cursor: pointer;
  background: red;
  border-radius: 50%;
}

.valuesData {
  font-size: 0.75rem;
}
.valuesData table {
  width: 100%;
  text-align: left;
}
