* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgColor: black;
  --boardColor: #001C30;
  --fontColor: gray;
  --pianoKeyColor: #ffffff;
  --activeKeyColor:#E1E1E1;
  --topPianoKeyColor: var(--bgColor);
  
}
.mediumContent {
  font-size: 1.45rem;
  font-weight: 600;
}

.smallContent {
  font-size: 1.2rem;
}
.tinyContent {
  font-size: 0.85rem;
}
.pnWrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor);
}

.pianoBoard {
  min-width: 800px;
  background: var(--boardColor);
  color: var(--fontColor);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
}

.pianoHeader
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.85rem 1.25rem;
}

.pianoControls
{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.control
{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.volumeControls input
{
  accent-color: var(--pianoKeyColor);
}

.keysControls input
{
  width: 60px;
  appearance: none;
  height: 30px;
  position: relative;
  background: var(--bgColor);
  border-radius: 30px;
}

.keysControls input::before
{
  content: "";
  --size: 20px;
  width: var(--size);
  height: var(--size);
  background: var(--boardColor);
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top:50%;
  transform:translateY(-50%);
  z-index: 2;
  transition: all 0.2s ease;
}
.keysControls input:checked::before{
  background: var(--pianoKeyColor);
  left: calc(40px - 5px);
}

.keyPadPiano{
  --size: 80px;
  --keyHeight: 250px;
  display: grid;
  grid-template-columns: repeat(10, var(--size));
  gap: 2px;
  padding: 1rem;
}

.key
{
  height: var(--keyHeight);
  background: var(--pianoKeyColor);
  color: var(--fontColor);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1rem ;
  cursor: pointer;
  border-radius: 2px 2px 5px 5px;
  padding: 1.25rem 0;

}
.white 
{
  position: relative;
}
.black
{
  --diff: 10px;
  background: var(--topPianoKeyColor);
  position: absolute;
  top: 0;
  left: calc(var(--size) / 2 + var(--diff) / 2)  ;
  width: calc(var(--size) - var(--diff));
  height: calc(var(--keyHeight) - 70px);
  z-index: 100;
}

.activeKey
{
  transform: scale(0.98);
  background:var(--activeKeyColor);
}

.hideKeys{
  font-size: 0;
}

.circle 
{
  --size: 30px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: var(--bgColor);
  transition: all 0.2s ease;
}

.circleActive
{
  background: var(--pianoKeyColor);
}

.themeSelection
{
  position:absolute;
  top: -100%;
  right: 0;
}
.themeSelectionActive
{
  top: 0%;
}

.themeSelection .themeCode
{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  color: var(--fontColor);
}



